/* این برای راست چین شدن کل سایته */
body{
 direction:rtl;
}


/* رنگی بودن بک گراند هدر بالا */
 li {
    background-color: rgb(190, 190, 249);
    color: rgb(0, 0, 0);
}


/* وقتی روی لیست موس رد میشه رنگش تغییر کنه */
li:hover {
    background-color: rgb(129, 176, 247);
}


