html{
    font-family: pelak;
    font-size: 100%;
}

@font-face{
    font-family: pelak;
    src:     url(./fonts/PelakFA-light.woff2) format("woff2"),
             url(./fonts/PelakFA-light.woff) format("woff"),
             url(./fonts/PelakFA-light.eot) format("embedded-opentype"),
             url(./fonts/PelakFA-light.ttf) format("truetype");
}

.clearfix::after,
.clearfix::before{
    content:"" ;
    display: table;
}

.clearfix::after{
    clear: both;
}


/* راست چین شدن کل سایت
فونت سایز
تکست حالت جاستیفای
ورد برکش روی برک ال */
body{
    box-shadow: rgba(4, 75, 75, 0.2) 0px 3px 20px 0px;
    text-align: justify;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    direction:rtl;
    font: 1rem/2 ;
    text-align:center;
    word-break: normal;
}
img{
    border-radius: 50%;
}

section {
    text-align: right;
    width: 70%;
}
header{
    text-align: left;
    width: 50%;
}

h2{
    padding: 20px;
    padding-bottom: 0px;   
}
p{
    padding: 20px;
    padding-top: 0px;
}

img{
    position:relative;
    border-radius: 50%;
    height:30vh;
    vertical-align: baseline;
 }

 @media (min-width :700px){
    header{
        float:left;
        text-align: left;
        width: 50%;
    }
    section {
        margin: auto;
        width: 50%;
        float: right;
    }
    img{
        margin: auto;
        height:50vh;
    }
 }