html{
    font-family: pelak;
    font-size: 100%;
}

@font-face{
    font-family: pelak;
    src:     url(./fonts/PelakFA-light.woff2) format("woff2"),
             url(./fonts/PelakFA-light.woff) format("woff"),
             url(./fonts/PelakFA-light.eot) format("embedded-opentype"),
             url(./fonts/PelakFA-light.ttf) format("truetype");
}
header{
    margin-bottom: 1.2rem;
}
.all{
    background-color: thistle;
    text-align: center;
    padding: 2rem 0rem;
    color: white;
}

section {
    float: left;
    width: calc(66.66% - 1rem);
    margin-bottom: 1rem;
}


aside{
    float: left;
    width: calc(33.33% - 1rem);
    margin: 0.5rem;
    height: 100vh;
}
.clearfix::after,
.clearfix::before{
    content:"" ;
    display: table;
}

.clearfix::after{
    clear: both;
}

.box{
    float: left;
    width: calc(33.33% - 1rem);
    height: 200px;
    background-color: rgb(153, 130, 153);
    margin: 0.5rem;
}
.contact{
    float: right;
    width: calc(33.33% - 2rem);
    margin: 1rem;
}
.about {
    float: left;
    width: calc(66.66% - 2rem);
    margin: 1rem;
}